body{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
}

.left-header{
    padding:  0 0 0 50px;
    color: #fff;
    font-weight: bold;
    width: 24%;
    background-color: #080618;
}

.left-header h4{
    letter-spacing: 8px;
    padding: 0 0 40px 25px;
    font-weight: bold;
    font-size: 35px;
    /* background: -webkit-linear-gradient(#F94141, #4D4E8F); */
    background: linear-gradient(0.25turn, #F94141, #4D4E8F);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.pages{
    margin:  0 0 20px 0;
}

.left-header ul{
    font-size: 18px;
    list-style: none;
}

.left-header ul li{
    padding: 0 0 30px 0;
}

.left-header ul li a{
    color: #fff;
    text-decoration: none;
}

.icons li:hover{
    transition: 0.5s;
    transform: rotateY(180deg);
    }

.left-header ul li a:hover{
    color: #F94141;
}

.social{
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
}

.social-word{
    margin: 55px 0 0 0px;
}

.social p{
    transform: rotate(-90deg);
    color: #9193C6;
    font-size: 20px;
}

.social img {
    width: 30px;
    height: 30px;
}

.social .youtube {
    width: 30px;
    height: 30px;
}

.icons{
    padding: 0 0 0 0 ;
}

/* header right */

.right-header{
    width: 100%;
    background-image: url("./images/prof.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.right-section{
    padding: 40px 0 0 70px;
}

.right-section h1{
    background-color: rgba(78, 79, 144, .8  );
    color: rgb(201, 201, 227);
    padding: 10px;
    width: 66%;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 100px;
}

.right-section button{
    border: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    background: linear-gradient(0.25turn, #fff, #F94141);

}

.right-section button:hover{
    background:#F94141;
}

.aboutus{
    display: flex;
    padding: 100px 100px 60px 0px;
    background-color: #080618;
}

.about{
    line-height: 23px;
    letter-spacing: 1px;
    color: #C9C9E3;
    font-weight: 100;
    padding: 0 40px;
}

.about h1{
    color: rgb(201, 201, 227);
    font-size: 48px;
}

.artist{
    display: flex;
    background-color: #080618;
    padding: 20px 20px 100px 20px;
}

.artist-word{
    transform: rotate(-90deg);
    margin: 0 0 270px 40px;
    color: #9193C6;
    font-size: 23px;
    font-weight: bold;
}


.artist-content{
    margin: 20px;
    width: 21%;
    height: 25em;
   
}

.artist-container{
    width: 90%;
    display: flex;
}
.artist-bien{
    width: 100%;
    height: 100%;
    background-image: url("./images/bien.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.artist-savara{
    width: 100%;
    height: 100%;
    background-image: url("./images/savara.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.artist-poly{
    width: 100%;
    height: 100%;
    background-image: url("./images/poly.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.artist-chimano{
    width: 100%;
    height: 100%;
    background-image: url("./images/chimano.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bio{
    line-height: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    padding:40px 10px;
    color: #C9C9E3;
    text-align: center;
}

.bien{
    background: rgba(0, 0, 0, .7);
    height: 100%;
    opacity: 0;
}

.bien:hover{
    opacity: 1;
}

.savara{
    background: rgba(0, 0, 0, .7);
    height: 100%;
    opacity: 0;
}

.savara:hover{
    opacity: 1;
}

.poly{
    background: rgba(0, 0, 0, .7);
    height: 100%;
    opacity: 0;
}

.poly:hover{
    opacity: 1;
}

.chimano{
    background: rgba(0, 0, 0, .7);
    height: 100%;
    opacity: 0;
}

.chimano:hover{
    opacity: 1;
}

.art-name{
    color: #fff;
    padding: 0 0 20px 0px;
}

.art-task{
    color: #C9C9E3;
    padding: 0 auto;
}

.music{
    background-color: #080618;
    padding: 30px 250px;
}

.music h1{
    color: rgb(201, 201, 227);
    font-size: 48px;
}

.music-section{
  display: flex;
}

.music-cover{
    background-color: rgb(29, 25, 62);
    /* display: flex; */
}

.cover{
 display: flex;
 padding: 20px;
}

.cover img{
    width: 28%;
    height: 150px;
}

.cover .details{
    width: 100%;
    padding: 0 40px;
}

audio{
    width: 100%;
    background: #736EE5;
    padding: 10px 0;
    margin: 0;
    border: none !important;
}

.music-audio{
    padding: 0 20px;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #736EE5;
}

#myVideo {

    padding: 0px;
    margin: 0;
    overflow: hidden;
 }
    
 .video{
    padding: 100px 100px 60px 0px;
    background-color: #080618;
}

.single-vid{
    display: flex;
}

.other-vid{
    padding: 0px 20px;
    margin-left: 80px;
}

footer{
    padding: 20px;
    text-align: center;
    height: 70px;
    background-color: #736EE5;

}

footer p{
    color: #C9C9E3;
    font-weight: 100;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: #080618;
}