body{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
}

.left-header{
    padding:  0 0 0 50px;
    color: #fff;
    font-weight: bold;
    width: 24%;
    background-color: #080618;
}

.left-header h4{
    letter-spacing: 8px;
    padding: 0 0 40px 25px;
    font-weight: bold;
    font-size: 35px;
    background: -webkit-linear-gradient(#F94141, #4D4E8F);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.pages{
    margin:  0 0 20px 0;
}

.left-header ul{
    font-size: 18px;
    list-style: none;
}

.left-header ul li{
    padding: 0 0 30px 0;
}

.left-header ul li a{
    color: #fff;
    text-decoration: none;
}


.left-header ul li a :hover{
    color: #F94141;
}


.social{
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
}

.social-word{
    margin: 55px 0 0 0px;
}


.social p{
    transform: rotate(-90deg);
    color: #9193C6;
    font-size: 20px;
}


.social img {
    width: 30px;
    height: 30px;
}

.social .youtube {
    width: 30px;
    height: 30px;
}

.icons{
    padding: 0 0 0 0 ;
}

/* header right */

.right-header{
    width: 100%;
    background-image: url("./images/hero.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);

}

.right-section{
    padding: 40px 0 0 70px;
}

.right-section h1{
    /* display: inline; */
    background-color: rgba(78, 79, 144, .8  );
    color: rgb(201, 201, 227);
    padding: 10px;
    width: 70%;
    /* margin-right: 150px; */
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 100px;
}


.right-section button{
    border: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
}

.aboutus{
    display: flex;
    padding: 100px 100px 60px 0px;
    background-color: #080618;
}

.about{
    line-height: 23px;
    letter-spacing: 1px;
    color: #C9C9E3;
    font-weight: 100;
    padding: 100px;
}

.about h1{
    color: rgb(201, 201, 227);
    font-size: 48px;
}

.artist{
    /* height: 500px; */
    display: flex;
    background-color: #080618;
    padding: 20px;
}

.artist-word{
    transform: rotate(-90deg);
    margin: 0 0 270px 40px;
    color: #9193C6;
    font-size: 23px;
    font-weight: bold;
}


.artist-content{
    margin: 20px;
    width: 21%;
    height: 25em;
   
}

.artist-container{
    width: 90%;
    display: flex;
}
.artist-img{
    width: 100%;
    height: 100%;
    background-image: url("./images/hero.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}